<li>
  <p class="notification_body"><span><%= unread_notification.body %></span></p>
  <p><span class="pull-right label label-info">From: <%= unread_notification.resource.try(:name) %></span></p>
</li>
