<div class="doc-footer">
  <div class="row u-container">
    <div class="col-sm-5 contact">
      <h3 class="contact-header">Contact Us</h3>
      <div class="contact-content">
        <span class="contact_email"><a href="mailto:">e: support@shinetechsoftware.com</a></span>
        <span class="contact_site">w: www.shinetechsoftware.com </span>
        <p class="doc-footer-desc">
          Sit in the privacy of your home, office or car adn video conference a doctor using your mobile ,tablet or computer
        </p>
      </div>
    </div>
    <div class="col-sm-4 qlinks">
      <h3 class="qlinks-header">Quick links</h3>
      <div class="qlinks-content">
        <a href="#">Frequently Asked Questions</a>
        <a href="#">Support</a>
        <a href="#">Contact</a>
        <a href="#">How it works</a>
        <a href="#">For Businesses</a>
      </div>
    </div>
    <div class="col-sm-3">
      <h3 class="social-header">Social</h3>
      <div class="social-content">
        <p>Follow Us on</p>
        <div class="iconBox">
          <a href="#" class="facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          <a href="#" class="googlePlus"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          <a href="#" class="pinterest"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
          <a href="#" class="twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="copyright">Copyright All Rights Reserved Shinetechsoftware</div>
    </div>
  </div>
</div>
